.chatcontainer{
    border-width:thick;
    border-color:darkred;
    border-style: inset;
    color:white;
    position:absolute;
    margin-top:8vw;
 z-index:9999999;
 right:0px;
 bottom:0px;
 opacity:.9;
 background-image:url('../pages/imgs/wood_1.png');
 background-size:100% 50%;
    /* background-color:rgb(255, 126, 126); */
}

.chatbox {

    color:white;
width: 420px;
height: 400px;
padding: 10px;
/* opacity:.6;
background-color: rgb(255, 200, 124); */
display: inline-block;
}

#userbox {
width:200px;


}

#message-container {
    color:white;
}

.chatbox-users {
    color:white;
    right:0px;
    /* display: inline-block;
    height: 300px;
    width: 100px; 
    background-color:rgb(255, 200, 124); */
}
.chatcontrols{ 
    color:firebrick;
    display: block;
}

.server-msg{
    color:rgb(255, 68, 68);
    font-weight: bold;
}